/* General Styling */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

/* Header Styling */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    margin: 0;
    color: #ff69b4;
}

/* Navigation Links */
.nav-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-links a {
    color: #ff69b4;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #ff69b4;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #ff69b4;
    color: white;
}

/* Main Container */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

/* Driver Details Section */
.driver-details {
    width: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.driver-details h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.driver-details p {
    font-size: 16px;
    color: #333;
}

/* Race Results Section */
.race-results {
    width: 55%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.race-results h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.race-results table {
    width: 100%;
    border-collapse: collapse;
}

.race-results th, .race-results td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.race-results th {
    background-color: #333;
    color: white;
}

.race-results td {
    color: #333;
}

a {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer p {
    margin: 0;
    font-size: 14px;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}
